@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekle</h3>
</div>
<form class="form-group" method="post">
    <br />
    <label>Proje adı</label>
    <input type="text" name="Name" / class="form-control">
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <label>Resim yolu</label>
    <input type="text" name="ImageUrl" class="form-control" />
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br /> <label>Resim yolu 2</label>
    <input type="text" name="ImageUrl2" class="form-control" />
    @Html.ValidationMessageFor(x=>x.ImageUrl2)
    <br />
    <label>Proje linki</label>
    <input type="text" name="ProjectUrl" class="form-control" />
    @Html.ValidationMessageFor(x=>x.ProjectUrl)
    <br />
    <label>Fiyat</label>
    <input type="text" name="Price" class="form-control" />
    @Html.ValidationMessageFor(x=>x.Price)
    <br /> <label>Tamamlanma oranı</label>
    <input type="text" name="Value" class="form-control" />
    @Html.ValidationMessageFor(x=>x.Value)
    <br />

    
   
    <button class="btn btn-primary">kaydet</button>





</form>