@model EntityLayer.Concrete.Experience

@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Tecrübe Düzenle</h3>
</div>

@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{

    <br />
    @Html.TextBoxFor(x=>x.ExperienceID,new{@class ="form-control",@readonly="readonly"})
    <br />
    @Html.Label("Yetenek başlığı")
    <br />
    @Html.TextBoxFor(x=>x.Name, new{@class ="form-control"})
    <br /> @Html.TextBoxFor(x=>x.ImageUrl, new{@class ="form-control"})
    <br />
    <label>Değer</label>
    @Html.TextBoxFor(x=>x.Date, new{@class ="form-control"})
    <br /><label>Değer</label>
    @Html.TextBoxFor(x=>x.Date2, new{@class ="form-control"})
    <br /><label>Değer</label>
    @Html.TextBoxFor(x=>x.Description, new{@class ="form-control"})
    <br />
    <button class="btn btn-primary">kaydet</button>


}