@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Öne çıkan Düzenle</h3>
</div>

@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{

    <br />
    @Html.TextBoxFor(x=>x.FeatureID,new{@class ="form-control",@readonly="readonly"})
    <br />
    @Html.Label("Başlık")
    <br />
    @Html.TextBoxFor(x=>x.Header, new{@class ="form-control"}) 
    <br />
    @Html.Label("İsim")
    <br />
    @Html.TextBoxFor(x=>x.name, new{@class ="form-control"})
    <br />
    @Html.Label("Title")
    <br />
    @Html.TextBoxFor(x=>x.Title, new{@class ="form-control"})
    <br />
    <button class="btn btn-primary">kaydet</button>


}
